*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Noto Sans Arabic',sans-serif;
}

body{
    background:#000;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.calculator{
    width:360px;
    max-width:95%;
    background:#000;
    padding:20px;
    border-radius:35px;
}

.screen{
    margin-bottom:20px;
}

.display{
    width:100%;
    border:none;
    background:#000;
    color:#fff;
    font-size:60px;
    text-align:right;
    padding:20px 10px;
    outline:none;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
}

.btn{
    width:75px;
    height:75px;
    border:none;
    border-radius:50%;
    font-size:30px;
    cursor:pointer;
    transition:.15s;
}

.btn:active{
    transform:scale(.95);
}

.gray{
    background:#a5a5a5;
    color:#000;
}

.dark{
    background:#333333;
    color:#fff;
}

.orange{
    background:#ff9f0a;
    color:#fff;
}
.zero{
    grid-column: span 2;
    width:165px;
    border-radius:40px;
    text-align:left;
    padding-left:28px;
}

.btn:hover{
    filter:brightness(1.1);
}

.btn:active{
    transform:scale(0.96);
}

.display::placeholder{
    color:#fff;
}

@media (max-width:420px){

    .calculator{
        width:100%;
        padding:15px;
    }

    .btn{
        width:68px;
        height:68px;
        font-size:28px;
    }

    .zero{
        width:150px;
    }

    .display{
        font-size:52px;
    }

}

@media (max-width:360px){

    .btn{
        width:60px;
        height:60px;
        font-size:24px;
    }

    .zero{
        width:132px;
    }

    .display{
        font-size:44px;
    }

}
.history{
    color:#9ca3af;
    text-align:right;
    min-height:25px;
    margin-bottom:15px;
    font-size:18px;
}
.btn{
    transition:transform .15s, filter .15s;
}

.btn:active{
    transform:scale(.92);
    filter:brightness(1.2);
}
button{
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button:focus{
    outline: none;
}

button::-moz-focus-inner{
    border:0;
}
.back-btn{

    position:absolute;

    top:20px;
    left:20px;

    padding:10px 18px;

    border:none;
    border-radius:20px;

    background:#333;

    color:white;

    font-size:18px;

}